CompileFlags:
  Add:
    - "-fmodules"
    - "-std=c++2b"
    - "-I../include"
    - "-I../../include"
    - "-I../../../include"
    - "-fbuiltin-module-map"
    - "--precompile"
  Remove:
    - -fno-modules
    - -fno-module-maps

Hover:
  ShowAKA: Yes

InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  DefaultArguments: Yes
  TypeNameLimit: 24
