# Cabal related files
dist
dist-*
cabal-dev
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local

# Stack related files
.stack-work/

### Haskell (GHC)
*.exe
*.hi
*.prof
*.eventlog
*.hp
*.aux
*.tix
*.hpc

# Build prerequisites
*.d

# Compiled object files
*.o
*.obj
*.slo
*.lo

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib
*.lai
*.la

# Executables
*.exe
*.out
*.app

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows system files
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Visual Studio Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

# Python Language Server
pyrightconfig.json
