# Build results
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
bld/
[Dd]ebug/
[Dd]ebugPublic/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa]rtifacts/

# NuGet Packages
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
**/[Pp]ackages/*

# Build prerequisites
*.d

# Compiled object files
*.lo
*.o
*.obj
*.slo

# Compiled dynamic libraries
*.dll
*.dylib
*.so

# Compiled static libraries
*.a
*.la
*.lai
*.lib

# Executables
*.app
*.exe
*.out

# macOS system files
.AppleDouble
.DS_Store
.LSOverride
._*

# Windows system files
$RECYCLE.BIN/
[Dd]esktop.ini
*.lnk

# Visual Studio Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
