# Dependency directories
node_modules/
jspm_packages/

# Build directories
build/
dist/
out/

# Coverage files
coverage
*.lcov

# Cache directories
.cache/
.eslintcache
.turbo/

# Yarn v2 files
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows system files
$RECYCLE.BIN/
[Dd]esktop.ini
*.lnk
*.stackdump

# Visual Studio Code settings
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets
