# Simple Build Tool (sbt)
.cache/
dist/
lib_managed/
project/boot/
project/plugins/project/
project/project/
src_managed/
target/

# Bloop Scala IDE
.bloop/
.bsp/
.metals/
.scala-build/
project/**/metals.sbt

# Scala compiled objects
*.class
*.tasty

# macOS system files
.AppleDouble
.DS_Store
.LSOverride
._*

# Windows system files
$RECYCLE.BIN/
[Dd]esktop.ini
*.lnk

# Visual Studio Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
