Checks: >
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  llvm-header-guard,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -misc-include-cleaner,
  -modernize-concat-nested-namespaces,
  -modernize-use-auto,
  -performance-avoid-endl,
  -readability-convert-member-functions-to-static,
  -readability-magic-numbers,

WarningsAsErrors: "*"
UseColor: Yes
SystemHeaders: No

ExtraArgs:
  - "-fno-caret-diagnostics"
