[*.php]
max_line_length = 100
php_format_add_comma_after_last_array_element = true
php_format_add_comma_after_last_call_parameter = true
php_format_add_comma_after_last_decl_parameter = true
php_format_array_initializers_new_line_after_last_element = true
php_format_array_initializers_new_line_before_first_element = true
php_format_blank_lines_after_class = 1
php_format_blank_lines_after_function = 1
php_format_blank_lines_after_method = 1
php_format_blank_lines_after_namespace = 1
php_format_blank_lines_after_open_tag = 1
php_format_blank_lines_after_use_statements = 1
php_format_boolean_constant_casing = uppercase
php_format_call_parameters_new_line_after_left_paren = true
php_format_call_parameters_new_line_before_right_paren = true
php_format_end_with_new_line = true
php_format_decl_keep_right_paren_and_open_brace_on_one_line = true
php_format_decl_parameters_new_line_after_left_paren = true
php_format_decl_parameters_new_line_before_right_paren = true
php_format_for_statement_new_line_after_left_paren = true
php_format_for_statement_new_line_before_right_paren = true
php_format_null_constant_casing = uppercase
php.format.rules.groupUseNewLineBeforeFirstDeclaration = true
php_format_space_around_concatenation = true
php_format_switch_statement_new_line_after_left_paren = true
php_format_switch_statement_new_line_before_right_paren = true
php_format_while_statement_new_line_after_left_paren = true
php_format_while_statement_new_line_before_right_paren = true
