vendor/
phpunit.xml
.php-cs-fixer.cache
.php-cs-fixer.php
.phpunit.result.cache
composer.phar
package.tar
/packages.json


/.phpunit
/.phpunit-cache

/.psalm-cache

node_modules/

# composer.lock
package-lock.json
